<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/style.css" >
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Geologica&family=Libre+Baskerville&family=Quicksand&display=swap');
      </style>
</head>
<body>

    <nav class="navbar">
        <div class="blogname">The Judge</div>
        <div class="nav-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/create">Create</a></li>
                <li><a href="/explore">Explore</a></li>
            </ul>
        </div>
    </nav>