<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/style.css" >
</head>
<body>
    <header>
     <div class="head">
        <h1>BlogName</h1>
        <a href="/create">Create</a>
        <a href="/explore">Explore</a>
    </div>
    </header>