<%- include("partials/header.ejs") %>

<h1>Give us your best words</h1>
<form action="/submit" method="POST">
   <p><label for="blog-input">Enter below:</label></p>
    <textarea name="content" aria-placeholder="Your blog post" cols="100" rows="20"></textarea>
    
    <input type="submit" name="confirm">
</form>

<%- include('partials/footer.ejs') %>
