<%- include('partials/header.ejs')%>
<h1>Explore reviews</h1>

<div class="wrapper">
  <div class="container-pop">
    <div class="section-title"><h2>Posts</h2></div>

    <div class="text-box">
      <h3>Review</h3>
      <p>1/4/2023</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        laoreet lacinia elit at convallis. Quisque viverra arcu id vulputate
        sollicitudin. Nulla commodo ipsum vel metus euismod eleifend in quis
        risus.
      </p>
    </div>
    <div class="text-box">
      <h3>Review</h3>
      <p>4/8/2023</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        laoreet lacinia elit at convallis. Quisque viverra arcu id vulputate
        sollicitudin. Nulla commodo ipsum vel metus euismod eleifend in quis
        risus.
      </p>
    </div>
    <div class="text-box">
      <h3>Review</h3>
      <p>17/11/23</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        laoreet lacinia elit at convallis. Quisque viverra arcu id vulputate
        sollicitudin. Nulla commodo ipsum vel metus euismod eleifend in quis
        risus.
      </p>
    </div>
    <div class="text-box">
      <h3>Review</h3>
      <p>17/11/23</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        laoreet lacinia elit at convallis. Quisque viverra arcu id vulputate
        sollicitudin. Nulla commodo ipsum vel metus euismod eleifend in quis
        risus.
      </p>
    </div>
    <div class="text-box">
      <h3>Review</h3>
      <p>17/10/23</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        laoreet lacinia elit at convallis. Quisque viverra arcu id vulputate
        sollicitudin. Nulla commodo ipsum vel metus euismod eleifend in quis
        risus.
      </p>
    </div>
    <div class="text-box">
      <h3>Review</h3>
      <p>1/9/23</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        laoreet lacinia elit at convallis. Quisque viverra arcu id vulputate
        sollicitudin. Nulla commodo ipsum vel metus euismod eleifend in quis
        risus.
      </p>
    </div>
    <div class="text-box">
      <h3>Review</h3>
      <p>6/7/23</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        laoreet lacinia elit at convallis. Quisque viverra arcu id vulputate
        sollicitudin. Nulla commodo ipsum vel metus euismod eleifend in quis
        risus.
      </p>
    </div>
    <div class="text-box">
      <h3>Review</h3>
      <p>22/5/23</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        laoreet lacinia elit at convallis. Quisque viverra arcu id vulputate
        sollicitudin. Nulla commodo ipsum vel metus euismod eleifend in quis
        risus.
      </p>
    </div>
  </div>

  <%- include('partials/footer.ejs') %>
</div>
