<%- include('partials/header.ejs')%>



<div class="intro">
    <h1>Rapid Reviews</h1>
    <p>Ever wanted to read a review but not spoil the fun?</p>
    <p>In just 100 words, these reviews can do just that.</p>
    <p>We think that these are the best reviews you'll read. But we'll let you be the judge of that.</p>
</div>

<div class="wrapper">
    <div class="container-pop">
        <div class="section-title"><h2>Popular posts</h2></div>

        <div class="text-box">
            <h3>Review</h3>
            <p>1/4/2023</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lacinia elit at convallis. Quisque viverra arcu id vulputate sollicitudin. Nulla commodo ipsum vel metus euismod eleifend in quis risus.</p>
        </div>
        <div class="text-box">
            <h3>Review</h3>
            <p>4/8/2023</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lacinia elit at convallis. Quisque viverra arcu id vulputate sollicitudin. Nulla commodo ipsum vel metus euismod eleifend in quis risus.</p>
        </div>
        <div class="text-box">
            <h3>Review</h3>
            <p>17/11/23</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lacinia elit at convallis. Quisque viverra arcu id vulputate sollicitudin. Nulla commodo ipsum vel metus euismod eleifend in quis risus.</p>
        </div>
    </div>

    <div class="container-rec">
        <div class="section-title"><h2>Recent posts</h2></div>

        <div class="text-box">
            <% if(locals.title && locals.content) { %>
            <h3><%= title %></h3>
            <p>Date</p>
            <p><%= content %></p>
            <% } else { %>
            <h3>Review</h3>
            <p>25/9/2023</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste possimus, cupiditate harum dolores labore dolor cum animi deleniti consectetur deserunt doloribus quasi quae illum eius sunt minima atque velit excepturi!e</p>
            <% } %>
        </div>
        <div class="text-box">
            <h3>Review</h3>
            <p>7/1/2024</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste possimus, cupiditate harum dolores labore dolor cum animi deleniti consectetur deserunt doloribus quasi quae illum eius sunt minima atque velit excepturi!e</p>
        </div>
        <div class="text-box">
            <h3>Review</h3>
            <p>1/1/2024</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste possimus, cupiditate harum dolores labore dolor cum animi deleniti consectetur deserunt doloribus quasi quae illum eius sunt minima atque velit excepturi!e</p>
        </div>
    </div>
</div>

<!-- to make carousel below -->
<div class="testimonials">
    <h3 class="testimonial-tag">Take a look at some people that have reviewed our review site</h3>
    <div class="box"></div>
    <!-- <div class="box"></div>
    <div class="box"></div> -->
</div>

<%- include('partials/footer.ejs') %>