<%- include('partials/header.ejs')%>

<form action="/submit" method="POST">
    <input type="text" name="content">
    <input type="submit" name="confirm">
</form>

<%- include('partials/footer.ejs') %>