* {
    box-sizing: border-box;
}

body {
    color: #0B2447;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    text-align: center;
    font-size: 48px;
    padding: 50px;
    padding-bottom: 0;
}

/* home */

.navbar {
    background-color: #A5D7E8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .navbar {
        flex-direction: column;
    }

    .wrapper {
        flex-direction: column;
    }

    .section-title {
        background-color: #A5D7E8;
        border-radius: 10px;
    }
}

.blogname {
    font-weight: 900;
    font-size: 36px;
    padding: 10px;
}

.intro {
    text-align: center;
    padding: 50px;
    padding-top: 10px;
    font-weight: 600;
}

.nav-links ul {
    display: flex;
}

.nav-links li {
    list-style: none;
    display: block;
    color: #0B2447;
    padding: 10px;
    padding-right: 30px;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #0B2447;
    
}

.wrapper {
    display: flex;
    margin: 100px;
    margin-top: 0;
    gap: 10px;
}

.container-pop, .container-rec {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px, repeat(3, 1fr);
    flex-basis: 100%;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    background-color: #A5D7E8;
    border-radius: 10px;
}

.text-box {
    padding: 20px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    padding-top: 0;
}

.box {
    height: 20vh;
    width: 80%;
    border: solid #0B2447;
}

/* create */

form {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

footer {
    background-color: #A5D7E8;
    margin: 0;
    padding: 20px;
    text-align: center;
}